<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyq.dao.SysUserDao">

    <resultMap type="com.xyq.entity.SysUser" id="SysUserResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="realname" column="realname" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="jobTitle" column="job_title" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, dept_id, username, password, realname, sex, phone, tel, email, avatar, job_title, status, sort, del_flag, create_by, update_time, create_time      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="SysUserResultMap" parameterType="java.lang.Object">
        select
        <include refid="table_field"/>
        from sys_user
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="SysUserResultMap" parameterType="com.xyq.entity.SysUser">
        select
        <include refid="table_field"/>
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realname != null">
                and realname = #{realname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                and tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="avatar != null">
                and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="jobTitle != null">
                and job_title = #{jobTitle,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="SysUserResultMap" parameterType="com.xyq.entity.SysUser">
        select
        <include refid="table_field"/>
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realname != null">
                and realname = #{realname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                and tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="avatar != null">
                and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="jobTitle != null">
                and job_title = #{jobTitle,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="SysUserResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from sys_user
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.xyq.entity.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="jobTitle != null">
                job_title,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="jobTitle != null">
                #{jobTitle,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into sys_user
        (id, dept_id, username, password, realname, sex, phone, tel, email, avatar, job_title, status, sort, del_flag,
        create_by, update_time, create_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.id}, #{item.deptId}, #{item.username}, #{item.password}, #{item.realname}, #{item.sex},
            #{item.phone}, #{item.tel}, #{item.email}, #{item.avatar}, #{item.jobTitle}, #{item.status}, #{item.sort},
            #{item.delFlag}, #{item.createBy}, #{item.updateTime}, #{item.createTime})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.xyq.entity.SysUser">
        update sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="jobTitle != null and jobTitle != ''">
                job_title = #{jobTitle,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update sys_user
        <set>
            <if test="where.deptId == null and set.deptId != null">
                dept_id = #{set.deptId,jdbcType=VARCHAR},
            </if>
            <if test="where.username == null and set.username != null and set.username != ''">
                username = #{set.username,jdbcType=VARCHAR},
            </if>
            <if test="where.password == null and set.password != null and set.password != ''">
                password = #{set.password,jdbcType=VARCHAR},
            </if>
            <if test="where.realname == null and set.realname != null and set.realname != ''">
                realname = #{set.realname,jdbcType=VARCHAR},
            </if>
            <if test="where.sex == null and set.sex != null">
                sex = #{set.sex,jdbcType=VARCHAR},
            </if>
            <if test="where.phone == null and set.phone != null and set.phone != ''">
                phone = #{set.phone,jdbcType=VARCHAR},
            </if>
            <if test="where.tel == null and set.tel != null and set.tel != ''">
                tel = #{set.tel,jdbcType=VARCHAR},
            </if>
            <if test="where.email == null and set.email != null and set.email != ''">
                email = #{set.email,jdbcType=VARCHAR},
            </if>
            <if test="where.avatar == null and set.avatar != null and set.avatar != ''">
                avatar = #{set.avatar,jdbcType=VARCHAR},
            </if>
            <if test="where.jobTitle == null and set.jobTitle != null and set.jobTitle != ''">
                job_title = #{set.jobTitle,jdbcType=VARCHAR},
            </if>
            <if test="where.status == null and set.status != null">
                status = #{set.status,jdbcType=VARCHAR},
            </if>
            <if test="where.sort == null and set.sort != null">
                sort = #{set.sort,jdbcType=INTEGER},
            </if>
            <if test="where.delFlag == null and set.delFlag != null">
                del_flag = #{set.delFlag,jdbcType=INTEGER},
            </if>
            <if test="where.createBy == null and set.createBy != null">
                create_by = #{set.createBy,jdbcType=VARCHAR},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=VARCHAR}
            </if>
            <if test="where.deptId != null">
                and dept_id = #{where.deptId,jdbcType=VARCHAR}
            </if>
            <if test="where.username != null">
                and username = #{where.username,jdbcType=VARCHAR}
            </if>
            <if test="where.password != null">
                and password = #{where.password,jdbcType=VARCHAR}
            </if>
            <if test="where.realname != null">
                and realname = #{where.realname,jdbcType=VARCHAR}
            </if>
            <if test="where.sex != null">
                and sex = #{where.sex,jdbcType=VARCHAR}
            </if>
            <if test="where.phone != null">
                and phone = #{where.phone,jdbcType=VARCHAR}
            </if>
            <if test="where.tel != null">
                and tel = #{where.tel,jdbcType=VARCHAR}
            </if>
            <if test="where.email != null">
                and email = #{where.email,jdbcType=VARCHAR}
            </if>
            <if test="where.avatar != null">
                and avatar = #{where.avatar,jdbcType=VARCHAR}
            </if>
            <if test="where.jobTitle != null">
                and job_title = #{where.jobTitle,jdbcType=VARCHAR}
            </if>
            <if test="where.status != null">
                and status = #{where.status,jdbcType=VARCHAR}
            </if>
            <if test="where.sort != null">
                and sort = #{where.sort,jdbcType=INTEGER}
            </if>
            <if test="where.delFlag != null">
                and del_flag = #{where.delFlag,jdbcType=INTEGER}
            </if>
            <if test="where.createBy != null">
                and create_by = #{where.createBy,jdbcType=VARCHAR}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dept_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="username = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.username}
                </foreach>
            </trim>
            <trim prefix="password = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.password}
                </foreach>
            </trim>
            <trim prefix="realname = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.realname}
                </foreach>
            </trim>
            <trim prefix="sex = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.sex}
                </foreach>
            </trim>
            <trim prefix="phone = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.phone}
                </foreach>
            </trim>
            <trim prefix="tel = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.tel}
                </foreach>
            </trim>
            <trim prefix="email = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.email}
                </foreach>
            </trim>
            <trim prefix="avatar = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.avatar}
                </foreach>
            </trim>
            <trim prefix="job_title = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.jobTitle}
                </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.status}
                </foreach>
            </trim>
            <trim prefix="sort = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.sort}
                </foreach>
            </trim>
            <trim prefix="del_flag = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="create_by = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createBy}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createTime}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Object">
        delete from sys_user where id = #{id,jdbcType=VARCHAR}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.xyq.entity.SysUser">
        delete from sys_user
        <where>
            <if test="deptId != null">
                and dept_id = #{deptId,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realname != null">
                and realname = #{realname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                and tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="avatar != null">
                and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="jobTitle != null">
                and job_title = #{jobTitle,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from sys_user where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(*) from sys_user
    </select>

    <select id="countByEntity" parameterType="com.xyq.entity.SysUser" resultType="int">
        select count(*) from sys_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId,jdbcType=VARCHAR}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realname != null">
                and realname = #{realname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                and tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="avatar != null">
                and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="jobTitle != null">
                and job_title = #{jobTitle,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
